@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
  height: 10000px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: auto;
}

/* Nav Bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 3rem;
  padding: 2rem;
  background-color: rgba(24, 233, 233, 0.5);
}

.logo {
  font-size: larger;
  font-weight: bold;
}

.nav-list {
  display: flex;
  /* padding: 2px; */
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: aliceblue;
  background-color: rgb(0, 75, 75);
  border-radius: 10%;
}

.nav-item {
  /* margin: 0 1rem; */
  width: 6rem;
  text-align: center;
}

/* 배너 영역 */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  background-image: url("../assets/apparel.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .banner:hover {
  background-color: rgba(0, 0, 0, 0.5);
} */

.banner-title {
  color: black;
  opacity: 65%;
  font-size: 6.5rem;
  font-weight: bolder;
  margin: 4rem;
}

.banner-text {
  font-size: 1.5rem;
}

/* 본문 영역 */

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.about {
  display: flex;
  padding: 2rem;
}

.about-img-wrapper {
  justify-self: center;
  position: relative;
}

.about-img-wrapper:hover >p {
  visibility: visible;
  font-size: 1.5rem;
}

.about-img-wrapper > p {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out .2s;
}

.about-img {
  border-radius: 5%;
  width: 500px;
}

.about-img:hover {
  filter: brightness(.45);
}

/* .about-content {
  display: flex;
  flex-direction: column;
} */

.about-title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1rem;
  padding: 1.5rem;
}

.title-line {
  width: 28rem;
  height: 2px;
  /* border: 1px solid rgb(36, 38, 38); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.about-text {
  padding: 2rem;
  line-height: 2rem;
}

.more {
  display: flex;
  flex-direction: column;
}

.more-title {
  font-size: 2.5rem;
  text-align: center;
  /* padding: 1rem; */
  margin: .5rem;
}

.more-list {
  display: flex;
  justify-content: space-evenly;
  /* margin: auto; */
}

.more-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
  height: 10rem;
}

.more-icon {
  width: 64px;
  height: 64px;
}

.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 1.5px solid black;
  background-color: rgb(24, 233, 233);
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1280px;
  flex-direction: row;
}

.product-box {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 330px;
  height: 350px;
  padding: 0.5rem;
  margin: 10px;
}

.card-img {
  width: 100%;
  height: 80%;
}

.product-title {
  font-size: 1.5rem;
  padding: 1rem;
}

.product-description {
  line-height: 1.5rem;
}
