{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="card my-5" style="width: 50rem;">
      <div class="card-body">
        <h1 class="text-center my-4 fs-3 fw-bold">Sign Up</h1>
        <div class="d-flex justify-content-center">
          <div class="col-8">
            <form action="{% url 'accounts:signup' %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="my-4">
                <button class="btn btn-outline-primary me-3" type="submit">JOIN</button>
                <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">BACK</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
