{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1 class="text-center my-5 fw-bold fs-2">My Trip Log</h1>
    <a href="{% url 'articles:create' %}" class="btn btn-primary">Add</a>
    <div class="row row-cols-1 row-cols-md-4 g-5 mt-1">
      {% for article in articles %}
        <div class="col my-4">
          <a class="text-decoration-none" href="{% url 'articles:detail' article.pk %}">
            <div class="card h-100">
              <img src="{{ article.thumbnail.url }}" alt="{{ article.thumbnail }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated :
                  {{ article.updated_at|date:'Y년 m월 d일 H:i' }}</small>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endblock content %}
