{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <title>1012 실습</title>
    {% bootstrap_css %}
    {% block css %}{% endblock %}
    <style>
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>
  </head>

  <body class="bg-light">
    <!-- Navbar -->
    <!-- 로그인 상태 -->
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="height: 4rem">
        <div class="container-fluid">
          <a href="{% url 'index' %}" class="navbar-brand ms-5"><img style="width: 5rem" src="{% static 'articles/logo.png' %}"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'articles:index' %}">Home</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" href="{% url 'articles:create' %}">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:index' %}">Users</a>
              </li>
            </ul>
            <li class="nav-item">
              <span class="text-light me-1">Hello,</span>
              {% if user.is_authenticated %}
                <a class="navbar-brand fw-bold" href="{% url 'accounts:detail' user.pk %}">{{ request.user.username }}</a>
              </li>
              <a class="nav-link text-light mx-3" href="{% url 'accounts:logout' %}">Sign Out</a>
            {% else %}
              <a class="navbar-brand fw-bold" href="#">Guest</a>
            </li>
          {% endif %}
          <form class="d-flex me-5" role="search">
            <input class="form-control mx-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- 로그아웃 상태 -->
  {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="height: 4rem">
      <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand ms-5"><img style="width: 5rem" src="{% static 'articles/logo.png' %}"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-3">
              <a class="nav-link disabled" href="{% url 'articles:index' %}">Home</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link disabled" href="{% url 'articles:create' %}">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'accounts:index' %}">Users</a>
            </li>
          </ul>
          <form class="d-flex mx-5" role="search">
            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container-fluid">
    <!-- 로그인 상태 -->
    {% if user.is_authenticated %}
      <div class="row my-5 justify-content-center text-center">
        <div class="col-sm-6">
          <div class="card mx-4">
            <div class="card-body">
              <h5 class="card-title mt-3 mb-5 fs-2 fw-bold">Sign out of 내사이트?</h5>
              <p class="card-text lh-lg">You can always sign back in at any time.
                <br>
                We hope to see you soon!</p>
              <div class="form d-flex justify-content-center mt-4 mb-3">
                <a class="btn btn-danger" href="{%  url 'accounts:logout' %}">Sign OUT</a>
                <a class="btn btn-outline-secondary ms-4" href="{%  url 'articles:index' %}">BACK
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 로그아웃 상태 -->
    {% else %}
      <div class="row text-center my-5 justify-content-center">
        <h1>🙋‍♂️ Welcome</h1>
        <div class="row my-5">
          <!-- 회원 -->
          <div class="col-sm-6">
            <div class="card mx-4">
              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold">Welcome Back!</h5>
                <a class="btn btn-outline-success mt-4 mb-3" href="{%  url 'accounts:login' %}">Sign In</a>
              </div>
            </div>
          </div>
          <!-- 비회원 -->
          <div class="col-sm-6">
            <div class="card mx-4">
              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold">Hello, Friend!</h5>
                <div class="form d-flex justify-content-center mt-4 mb-3">
                  <a class="btn btn-primary" href="{%  url 'accounts:signup' %}">Sign UP!</a>
                  <a class="btn btn-outline-primary ms-4" href="{%  url 'articles:index' %}">Continue as a Guest
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <footer class="text-center my-5 text-muted">
    Copyright 임선주 2022.10.12. - 10.13.
  </footer>

  {% bootstrap_javascript %}
</body>

</html>
