<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake 검색앱</title>
  </head>
  <body>
    <h1>Fake 검색 엔진</h1>
    <h2>Google</h2>
    <form action="http://www.google.com/search">
      Search : <input type="text" name="q" />
      <input type="submit" />
    </form>
    <h2>Naver</h2>
    <form action="http://search.naver.com/search.naver">
      검색어 : <input type="text" name="query" />
      <input type="submit" />
    </form>
    <h2>YouTube</h2>
    <form action="http://youtube.com/results">
      검색어 : <input type="text" name="search_query" />
      <input type="submit" />
    </form>
  </body>
</html>
