{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="container d-flex justify-content-center">
    <div class="card my-5" style="width: 50rem;">
      <div class="card-body">
        <h1 class="text-center my-4 fs-3 fw-bold">Change Password</h1>
        <div class="d-flex justify-content-center">
          <div class="col-8">
            <form action="{% url 'accounts:change_password' %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button class="btn btn-outline-primary my-2" type="submit">SAVE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}