html,
body {
  height: 100%;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #FFF5E4;
  color: #001f3f;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
}
main {
  flex: 1;
}
.btn {
  background-color: #B1B2FF;
  box-shadow: 2px 3px 6px 0 #6867AC;
  border-radius: 5px;
  font-size: medium;
  margin: 2rem 2rem 2rem 0;
  border: 1px solid #6867AC;
  text-align: center;
}
.btn:hover {
  box-shadow: 4px 6px 6px 0 #6867AC;
}
#result {
  display: flex;
  margin: 0 2rem 2rem;
  justify-content: center;
}
.ball {
  background-color: lightpink;
  border: 1.5px solid rgb(253, 123, 142);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: inset -25px -15px 20px rgb(252, 132, 150);
  background-image: linear-gradient(-45deg, rgba(187, 173, 173, 0.075) 0%, transparent 100%);
  margin: 2rem 1rem;
  text-align: center;
  line-height: 6.6rem;
  font-size: xx-large;
  font-weight: bold;
}