{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1 class="text-center my-4 fs-3 fw-bold">글 수정</h1>
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <form action="{% url 'articles:update' article.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form article_form %}
          <div class="my-4">
            <button class="btn btn-outline-primary me-3" type="submit">OK</button>
            <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-secondary">BACK</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
